Pulling data from 12 csv files

In [2]:
import pandas as pd
import numpy as np
rawjan17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1701.csv")
rawfeb17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1702.csv")
rawmar17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1703.csv")
rawapr17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1704.csv")
rawmay17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1705.csv")
rawjun17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1706.csv")
rawjul17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1707.csv")
rawaug17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1708.csv")
rawsep17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1709.csv")
rawoct17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1710.csv")
rawnov17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1711.csv")
rawdec17 = pd.read_csv("C:/Users/Tony/Desktop/tbProject/1712.csv")
import matplotlib.pyplot as plt

Create only columns we want to see

In [3]:
features = ['Symbol', 'Call', 'Put']

In [4]:
jan17 = rawjan17[features]
feb17 = rawfeb17[features]
mar17 = rawmar17[features]
apr17 = rawapr17[features]
may17 = rawmay17[features]
jun17 = rawjun17[features]
jul17 = rawjul17[features]
aug17 = rawaug17[features]
sep17 = rawsep17[features]
oct17 = rawoct17[features]
nov17 = rawnov17[features]
dec17 = rawdec17[features]

Removing all rows with null values

In [5]:
jan17.dropna(axis=0, how='all', inplace=True)
feb17.dropna(axis=0, how='all', inplace=True)
mar17.dropna(axis=0, how='all', inplace=True)
apr17.dropna(axis=0, how='all', inplace=True)
may17.dropna(axis=0, how='all', inplace=True)
jun17.dropna(axis=0, how='all', inplace=True)
jul17.dropna(axis=0, how='all', inplace=True)
aug17.dropna(axis=0, how='all', inplace=True)
sep17.dropna(axis=0, how='all', inplace=True)
oct17.dropna(axis=0, how='all', inplace=True)
dec17.dropna(axis=0, how='all', inplace=True)

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Removing commas and converted string to integers

In [6]:
jan17['Call'] = jan17['Call'].str.replace(',','').astype(int)
feb17['Call'] = feb17['Call'].str.replace(',','').astype(int)
mar17['Call'] = mar17['Call'].str.replace(',','').astype(int)
apr17['Call'] = apr17['Call'].str.replace(',','').astype(int)
may17['Call'] = may17['Call'].str.replace(',','').astype(int)
jun17['Call'] = jun17['Call'].str.replace(',','').astype(int)
jul17['Call'] = jul17['Call'].str.replace(',','').astype(int)
aug17['Call'] = aug17['Call'].str.replace(',','').astype(int)
sep17['Call'] = sep17['Call'].str.replace(',','').astype(int)
oct17['Call'] = oct17['Call'].str.replace(',','').astype(int)
nov17['Call'] = nov17['Call'].str.replace(',','').astype(int)
dec17['Call'] = dec17['Call'].str.replace(',','').astype(int)

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [7]:
jan17['Put'] = jan17['Put'].str.replace(',','').astype(int)
feb17['Put'] = feb17['Put'].str.replace(',','').astype(int)
mar17['Put'] = mar17['Put'].str.replace(',','').astype(int)
apr17['Put'] = apr17['Put'].str.replace(',','').astype(int)
may17['Put'] = may17['Put'].str.replace(',','').astype(int)
jun17['Put'] = jun17['Put'].str.replace(',','').astype(int)
jul17['Put'] = jul17['Put'].str.replace(',','').astype(int)
aug17['Put'] = aug17['Put'].str.replace(',','').astype(int)
sep17['Put'] = sep17['Put'].str.replace(',','').astype(int)
oct17['Put'] = oct17['Put'].str.replace(',','').astype(int)
nov17['Put'] = nov17['Put'].str.replace(',','').astype(int)
dec17['Put'] = dec17['Put'].str.replace(',','').astype(int)

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [8]:
jan17['Jan'] = 1
feb17['Feb'] = 1
mar17['Mar'] = 1
apr17['Apr'] = 1
may17['May'] = 1
jun17['Jun'] = 1
jul17['Jul'] = 1
aug17['Aug'] = 1
sep17['Sep'] = 1
oct17['Oct'] = 1
nov17['Nov'] = 1
dec17['Dec'] = 1

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

Renaming columns

jan17.rename(inplace=True, columns={"Call": "janC", "Put": "janP"})
feb17.rename(inplace=True, columns={"Call": "febC", "Put": "febP"})
mar17.rename(inplace=True, columns={"Call": "marC", "Put": "marP"})
apr17.rename(inplace=True, columns={"Call": "aprC", "Put": "aprP"})
may17.rename(inplace=True, columns={"Call": "mayC", "Put": "mayP"})
jun17.rename(inplace=True, columns={"Call": "junC", "Put": "junP"})
jul17.rename(inplace=True, columns={"Call": "julC", "Put": "julP"})
aug17.rename(inplace=True, columns={"Call": "augC", "Put": "augP"})
sep17.rename(inplace=True, columns={"Call": "sepC", "Put": "sepP"})
oct17.rename(inplace=True, columns={"Call": "octC", "Put": "octP"})
nov17.rename(inplace=True, columns={"Call": "novC", "Put": "novP"})
dec17.rename(inplace=True, columns={"Call": "decC", "Put": "decP"})

Merged all 12 files using Symbol column

In [9]:
df_final = pd.concat([jan17, feb17, mar17, apr17, may17, jun17, jul17, aug17, sep17, oct17, nov17, dec17])

In [10]:
df_final.head()

,Apr,Aug,Call,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Put,Sep,Symbol
0,NaN,NaN,980129,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,561820,NaN,AAPL
1,NaN,NaN,833218,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,345261,NaN,BAC
2,NaN,NaN,695092,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,362817,NaN,FB
3,NaN,NaN,207583,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,385718,NaN,RAD
4,NaN,NaN,291866,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,264566,NaN,NFLX

In [11]:
df_final.dtypes

Apr       float64
Aug       float64
Call        int32
Dec       float64
Feb       float64
Jan       float64
Jul       float64
Jun       float64
Mar       float64
May       float64
Nov       float64
Oct       float64
Put         int32
Sep       float64
Symbol     object
dtype: object

df_final = jan17
df_final = df_final.append(feb17)
df_final = df_final.append(mar17)
df_final = df_final.append(apr17)
df_final = df_final.append(may17)
df_final = df_final.append(jun17)
df_final = df_final.append(jul17)
df_final = df_final.append(aug17)
df_final = df_final.append(sep17)
df_final = df_final.append(oct17)
df_final = df_final.append(nov17)
df_final = df_final.append(dec17)

df_final = reduce(lambda left,right: pd.merge(left,right,on='Symbol'), dfs)

Confirming now null values

In [12]:
df_final = df_final[(df_final['Call'] > 100000) & (df_final['Put'] > 100000)]

In [13]:
df_final = df_final.reset_index(drop=True)

In [14]:
df_final = df_final.fillna(0)

In [15]:
df_final.shape

(205, 15)

In [16]:
df_final['P-C Ratio'] = df_final['Put'] / df_final['Call']

In [17]:
import quandl
import datetime as date
 
quandl.ApiConfig.api_key = '6NdvS3eJ_TSyJ7neEJmU'
 
def quandl_stocks(symbol, givendate):
    
    query_list = ['WIKI' + '/' + symbol + '.' + str(k) for k in range(4, 5)]
    column_name = 'WIKI' + '/' + symbol + ' - Close'
 
    start_date = date.datetime.strptime(givendate,'%m/%d/%Y')
 
    end_date = start_date
    try:
        return quandl.get(query_list, 
            returns='pandas', 
            start_date=start_date,
            end_date=end_date,
            collapse='daily',
            order='asc'
            )[column_name][0]
    except:
        return np.nan

In [18]:
ExDate = {'Jan' : '1/20/2017',
      'Feb' : '2/17/2017',
      'Mar' : '3/17/2017',
      'Apr' : '4/21/2017',
      'May' : '5/19/2017',
      'Jun' : '6/16/2017',
      'Jul' : '7/21/2017',
      'Aug' : '8/18/2017',
      'Sep' : '9/15/2017',
      'Oct' : '10/20/2017',
      'Nov' : '11/17/2017',
      'Dec' : '12/15/2017',}

In [19]:
df_final['Close'] = np.nan

In [20]:
max_range = range(df_final['Symbol'].count())
for i in max_range:
    name = df_final.columns[(df_final==1.0).iloc[i]]
    df_final['Close'][i] = quandl_stocks(df_final['Symbol'][i],ExDate[name[0]])

C:\Users\Tony\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [21]:
df_final.head()

,Apr,Aug,Call,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Put,Sep,Symbol,P-C Ratio,Close
0,0.0,0.0,980129,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,561820,0.0,AAPL,0.573210,120.00
1,0.0,0.0,833218,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,345261,0.0,BAC,0.414371,22.64
2,0.0,0.0,695092,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,362817,0.0,FB,0.521970,127.04
3,0.0,0.0,207583,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,385718,0.0,RAD,1.858139,7.46
4,0.0,0.0,291866,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,264566,0.0,NFLX,0.906464,138.60

In [22]:
df_final[df_final.Feb == 1.0]

,Apr,Aug,Call,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Put,Sep,Symbol,P-C Ratio,Close
14,0.0,0.0,1446115,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,780424,0.0,AAPL,0.539669,135.72
15,0.0,0.0,909345,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,303023,0.0,BAC,0.333232,24.52
16,0.0,0.0,731113,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,433098,0.0,FB,0.592382,133.53
17,0.0,0.0,350143,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,319507,0.0,NVDA,0.912504,107.23
18,0.0,0.0,320276,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,293661,0.0,TSLA,0.916900,272.23
19,0.0,0.0,372719,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,212223,0.0,AMD,0.569391,13.13
20,0.0,0.0,283080,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,299768,0.0,AMZN,1.058952,845.07
21,0.0,0.0,242702,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164480,0.0,TWTR,0.677704,16.62
22,0.0,0.0,254114,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,131342,0.0,BABA,0.516863,NaN
23,0.0,0.0,202826,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153491,0.0,PFE,0.756762,33.62
24,0.0,0.0,184397,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,166727,0.0,FCX,0.904174,14.91
25,0.0,0.0,183443,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157817,0.0,NFLX,0.860305,142.22
26,0.0,0.0,218761,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114396,0.0,MSFT,0.522927,64.62
27,0.0,0.0,189071,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,143967,0.0,X,0.761444,39.80
28,0.0,0.0,185697,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100819,0.0,C,0.542922,60.17
29,0.0,0.0,148090,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137338,0.0,JPM,0.927396,90.23
30,0.0,0.0,179057,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105716,0.0,VRX,0.590404,16.04

In [23]:
df_final[df_final.Mar == 1.0]

,Apr,Aug,Call,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Put,Sep,Symbol,P-C Ratio,Close
31,0.0,0.0,1474662,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,877716,0.0,AAPL,0.595198,139.99
32,0.0,0.0,1577870,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,521652,0.0,BAC,0.330605,24.86
33,0.0,0.0,633089,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,373671,0.0,FB,0.590235,139.84
34,0.0,0.0,515653,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,272573,0.0,AMD,0.528598,13.49
35,0.0,0.0,291050,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,321682,0.0,AMZN,1.105247,852.31
36,0.0,0.0,309730,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,300257,0.0,TSLA,0.969415,261.50
37,0.0,0.0,332190,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,251843,0.0,NVDA,0.758129,106.07
38,0.0,0.0,433241,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,142229,0.0,MU,0.328291,25.80
39,0.0,0.0,312573,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,157745,0.0,BABA,0.504666,NaN
40,0.0,0.0,226782,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,234577,0.0,NFLX,1.034372,145.11
41,0.0,0.0,227102,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,187351,0.0,JPM,0.824964,90.68
42,0.0,0.0,245696,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,142233,0.0,MSFT,0.578898,64.87
43,0.0,0.0,219787,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,157302,0.0,VRX,0.715702,11.03
44,0.0,0.0,235014,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,131815,0.0,C,0.560881,60.37
45,0.0,0.0,178272,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,143875,0.0,X,0.807053,37.29
46,0.0,0.0,208104,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,104035,0.0,F,0.499918,12.48
47,0.0,0.0,169128,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,131443,0.0,SNAP,0.777181,NaN
48,0.0,0.0,127299,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,109211,0.0,GS,0.857909,243.94